---
---
@import "variables";


.category {
    margin-top: 3em;

    header {
        max-width: 400px;
        margin: 0 auto;

        h2 {
            text-align: center;
        }
    }
}


.category-item {
    width: 210px;
    display: inline-block;
    padding: 0 10px 10px 10px;
    margin: 10px 10px 0 0;
    border: 1px solid #c2c2c2;
    vertical-align: top;

    .category-item-headline {
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: .5em;
    }
}