---
---
@import "variables";

.graph {
    box-shadow: inset 0px 0px 6px;

    .link {
        stroke: #888;
        stroke-width: 5px;
    }

    .infobox {
        fill: #333;

        text {
            font-size: 12px;
        }

        .infobox-headline {
            fill: white;
            font-weight: bold;
            font-size: 14px;
        }

        .infobox-link {
            fill: white;
            text-decoration: underline;
        }

        .infobox-desc {
            fill: white;
        }
    }

    .node {
        cursor: move;
        circle {
            fill: $color-base;
            stroke: white;
            stroke-width: 2px;
            &.type-aws {
                fill: $color-accent;
            }
        }
        text {
            fill: white;
            font-size: 11px;
            text-anchor: middle;
        }
    }
}