---
---
@import "variables";

.home-header {
    text-align: center;
    a {
        text-decoration: none;
    }
    .header-logo {
        background: $color-base;
        color: #eee;
        padding: $base-line-height;
        img {
            background: white;
            display: block;
            border-radius: 100%;
            margin: 0 auto;
            width: 100px;
        }
    }
    h1 {
        width: 100%;
        color: black;
    }
}

.site-header {
    height: 50px;
    background: $color-base;
    color: white;
    padding: 0 1em;

    a {
        text-decoration: none;
    }

    .site-logo {
        position: relative;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        top: 25px;
        background: white;
        border-radius: 100%;
        background-image: url(/img/stups_icon.png);
        background-size: cover;

    }
}