---
---
@import "variables";
@import "header.css";
@import "footer.css";
@import "page.css";
@import "post.css";
@import "grid.css";
@import "category.css";
@import "graph.css";

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: #111;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

p {
    &.lead {
        font-size: $h3-font-size;
        line-height: $h3-line-height;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    line-height: $h1-line-height;
    font-size: $h1-font-size;
}

h2 {
    line-height: $h2-line-height;
    font-size: $h2-font-size;
}

h3 {
    line-height: $h3-line-height;
    font-size: $h3-font-size;
}

h4 {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
}

a {
    // beautiful link underlines
    color: $color-accent;
    text-decoration: none;
    background-image: linear-gradient(  to top,
                                        rgba(0,0,0,0) 6%,
                                        currentColor 6%,
                                        currentColor 10%,
                                        rgba(0,0,0,0) 10%);

    &:hover {
        background-image: linear-gradient(  to top,
                                        rgba(0,0,0,0) 6%,
                                        currentColor 6%,
                                        currentColor 14%,
                                        rgba(0,0,0,0) 14%);
    }
}