---
---
@import "variables";
@import "header.css";
@import "footer.css";
@import "page.css";
@import "post.css";
@import "grid.css";
@import "category.css";
@import "graph.css";

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: #111;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

p {
    &.lead {
        font-size: $h3-font-size;
        line-height: $h3-line-height;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    line-height: $h1-line-height;
    font-size: $h1-font-size;
}

h2 {
    line-height: $h2-line-height;
    font-size: $h2-font-size;
}

h3 {
    line-height: $h3-line-height;
    font-size: $h3-font-size;
}

h4 {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
}

a {
    transition: .2s linear color;
    color: darken( $brand-primary, 20% );
    &:visited {
        color: darken( $brand-primary, 30% );
    }
    &:active,
    &:hover {
        color: darken( $brand-primary, 10% );
    }
}