---
---
@import "variables";

.post {
    .post-header {
        text-align: center;
    }
    .post-image {
        text-align: center;
        img {
            max-width: 100%;
            height: 20vh;
            object-fit: cover;
        }
    }
}