---
---
@import "variables";

.post {
    .post-header {
        text-align: center;
    }
    .post-image {
        text-align: center;
        img {
            max-width: 100%;
            height: 20vh;
            object-fit: cover;
        }
    }
    .post-content {
        font-size: $base-font-size;
        line-height: $base-line-height;

        > ul,
        > ol {
            margin: $base-line-height 0;
        }

        + p {
            margin-top: 2*$base-line-height;
        }

        .footnotes {
            border-top: 1px solid $color-base;
            margin-top: 2*$base-line-height;
        }
    }
}