<div class="categories">
    {% for category in site.categories %}
    <div class="category">
        <header>
            <h1>{{category | first}}</h1>
        </header>
        <div class="category-items">
        {% for posts in category %}
            {% for post in posts %}
                {% if post.url %}
                    <div class="category-item">
                        <h2>{{post.title}}</h2>
                        <a href="{{post.url}}">Link</a>
                        {{ post.excerpt }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>