<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="home-header">
            <div class="header-logo">
                <a href="/">
                    <img src="/img/stups_icon.png" alt="penguin" />
                </a>
                <small>STUPS to unleash penguin swarms</small>
            </div>
            <h1>{{ site.title }}</h1>
        </div>

        <div class="wrapper">
            <p class="lead">The STUPS platform is a set of tools and components to provide a convenient and audit-compliant Platform-as-a-Service (PaaS) for multiple autonomous teams on top of Amazon Web Services (AWS). <a href="/why">Why STUPS?</a></p>
        </div>


        <div class="page-content">
            {{ content }}
        </div>

        {% include footer.html %}

    </body>

</html>
