<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="fullsize-header">
      <h1>{{ site.title }}</h1>
    </header>

    <div class="wrapper">
      <p class="lead">This is an overview of the Zalando STUPS landscape. It includes tools and applications to make your life on AWS easier.</p>
    </div>

    <div id="graph">

    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
